#results {
    float:left;
    width: 90%;
    height: 450px; /*auto?*/
    margin: 35px 20px;
    background-color: white;
    border: 2px solid black;
    font-family: monospace;
    font-size: 12px;
    text-align:center;
    padding: 10px;
}

#quote {
    font-size: 30px;
}

.highlight {
    font-size=+5px;
    color: orangered;
    /*background-color: black;*/
}